
<h1><%= @article.title %></h1>

<hr />

<p><%= @article.body %></p>

<ul>
    <li>
        <%= link_to "back to all articles", articles_path %>
    </li>
    <li>
        <%= link_to "edit this post", edit_article_path(@article) %>
    </li>
    <li>
        <%= link_to "delete this post", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
    </li>
</ul>